mixin getTickets()
    .getTickets
        hgroup.getTickets__header
            h1.getTickets__headerTitle Get your tickets today!
            h2.getTickets__headerSubtitle Currently
                span.getTickets__headerSubtitleCount  234
                |  tickets available
        .getTickets__buy
            .getTickets__buyPrice
                span.getTickets__buyPriceText only
                span.getTickets__buyPriceAmount  150
                span.getTickets__buyPriceText  €
            a(href='#').getTickets__buyButton Buy your ticket

