//-mixin vk()
	svg(viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
		path(d='m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z')

//-mixin vimeo()
	svg(viewbox='0 -32 511.99907 511' xmlns='http://www.w3.org/2000/svg')
		path(d='m497.792969 34.046875c-22.0625-32.902344-57.640625-33.535156-59.140625-33.546875h-.109375c-33.140625 0-64.683594 10.382812-91.21875 30.023438-20.390625 15.089843-37.925781 35.960937-48.101563 57.25-3.296875 6.898437-2.726562 14.808593 1.527344 21.167968 4.25 6.355469 11.332031 9.890625 18.972656 9.488282 16.152344-.878907 27.21875 2.855468 33.820313 11.398437 4.289062 5.554687 5.867187 12.222656 6.25 18.113281.441406 6.738282-.757813 13.484375-3.226563 19.769532-.378906.976562-.6875 1.75-.789062 2.007812l-.054688.136719c-37.488281 95.035156-63.015625 114.984375-77.828125 114.984375-1.425781 0-2.179687-.308594-2.210937-.320313l-.25-.101562c-2.726563-1.074219-17.140625-9.601563-33.023438-72.066407-10.25-40.308593-16.75-86.324218-19.714844-110.164062l-.027343-.214844c-1.925781-13.84375-4.617188-26.417968-8-37.378906-5.828125-18.871094-18.746094-34.226562-36.375-43.242188-17.734375-9.070312-37.894531-10.550781-56.765625-4.171874-3.339844 1.128906-6.332032 2.371093-9.148438 3.800781-36.433594 18.457031-83.433594 65.242187-106.015625 87.722656-7.957031 7.921875-8.519531 20.382813-1.308593 28.984375 7.527343 8.980469 20.628906 10.296875 29.828124 2.992188 9.082032-7.214844 17.390626-10.871094 24.695313-10.871094 12.742187 0 18.171875 11.550781 18.226563 11.667968l.210937.441407c29.535156 59.359375 49.101563 142.90625 49.292969 143.742187l.035156.136719c15.59375 64.441406 34.785156 110.730469 57.039062 137.585937 19.183594 23.148438 35.34375 24.945313 39.839844 24.945313h1.128906l.933594-.117187c112.195313-14.203126 216.203125-182.933594 255.710938-254.820313 11.738281-21.351563 20.222656-43.667969 25.21875-66.324219 8.695312-39.429687 5.527344-70.726562-9.421875-93.019531zm0 0')

//-mixin twitter()
	svg(xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewbox='0 0 512 512')
		path(d='M384,384H256c-35.296,0-64-28.704-64-64v-32h192c35.328,0,64-28.672,64-64s-28.672-64-64-64H192V64 c0-35.328-28.672-64-64-64S64,28.672,64,64v256c0,105.888,86.112,192,192,192h128c35.328,0,64-28.672,64-64S419.328,384,384,384z')

//-mixin facebook()
	svg(viewbox='-110 1 511 511.99896' xmlns='http://www.w3.org/2000/svg')
		path(d='m207.363281 126.734375c.699219-.789063 3.96875-3.367187 16.808594-3.367187l42.097656-.015626c13.695313 0 24.832031-11.140624 24.832031-24.835937v-73.578125c0-13.671875-11.121093-24.8125-24.792968-24.835938l-62.53125-.101562c-38.59375 0-71.402344 12.730469-94.878906 36.820312-23.371094 23.980469-35.726563 57.457032-35.726563 96.804688v39.683594h-47.835937c-13.695313 0-24.835938 11.140625-24.835938 24.835937v79.242188c0 13.695312 11.140625 24.835937 24.835938 24.835937h47.835937v184.941406c0 13.695313 11.140625 24.835938 24.835937 24.835938h81.992188c13.695312 0 24.835938-11.140625 24.835938-24.835938v-184.9375h58.472656c13.695312 0 24.832031-11.144531 24.832031-24.832031l.03125-79.246093c0-8.996094-4.894531-17.320313-12.777344-21.722657-3.652343-2.039062-7.902343-3.117187-12.285156-3.117187h-58.273437v-31.351563c0-10.21875 1.375-13.917969 2.527343-15.222656zm0 0')


mixin social()
	.social
		.social__.social__vimeo
		.social__.social__twitter
		if block
			.social__.social__content
				block
		.social__.social__facebook
		.social__.social__google
