@import "./_common/_common"
html
	font-size: 16px
	+font('Ubuntu-R')
body
	margin: 0
	@each $key,$value in $theme
		$i: index($theme, ($key $value))
		&.theme_#{$i}
			background-color: $value
			background-image: url('./pictures/#{map-get($theme_image, $key)}')
*
	box-sizing: border-box
