@import "./_common/_common"
+font("Ubuntu")
+font("DroidSans")
// +font("DroidSans-Bold")

+font("Kreon", $fileName: "Kreon-Regular")
// +font("Kreon-Bold")
// +font("Kreon-Light")
// +font("Kreon-Medium")
// +font("Kreon-SemiBold")

+font("Lucida Grande", $fileName: "LucidaGrande")
// +font("LucidaGrande-Bold")

+font("Trebuchet MS",$fileName: "TrebuchetMS")
// +font("Trebuchet-BoldItalic")
// +font("TrebuchetMS-Bold")
// +font("TrebuchetMS-Italic")

+font("GearedSlab", $fileName: 'gearedslab')
// +font("gearedslab-light")
// +font("gearedslab-bold")
// +font("gearedslab-extrabold")

+font("liberator")

+font("lobster")

+font("Philosopher", $fileName: "philosopher-regular")
// +font("philosopher-bold")
// +font("philosopher-bolditalic")
// +font("philosopher-italic")


html
	font-size: $defaultFontSize
body
	margin: 0
	@each $key,$value in $theme
		&.theme_#{$key}
			background-color: $value
			background-image: url('./pictures/#{map-get($theme_image, $key)}')
*
	box-sizing: border-box
