@import "./_common/_common"
@import "./_layout/_mounting"

+font("Mensch", $fileName: "mensch-inline")
+font("Ranger", $fileName: "ranger")
+font("BebasRegular", $path: './fonts/bebasneue/', $fileName: "bebasneueregular")
+font("DroidSans")
// +font("DroidSans-Bold")

+font("Kreon", $fileName: "Kreon-Regular")
// +font("Kreon-Bold")
// +font("Kreon-Light")
// +font("Kreon-Medium")
// +font("Kreon-SemiBold")

+font("Lucida Grande", $fileName: "LucidaGrande")
// +font("LucidaGrande-Bold")

+font("Trebuchet MS",$fileName: "TrebuchetMS")
// +font("Trebuchet-BoldItalic")
// +font("TrebuchetMS-Bold")
// +font("TrebuchetMS-Italic")

+font("GearedSlab", $fileName: 'gearedslab')
// +font("gearedslab-light")
// +font("gearedslab-bold")
// +font("gearedslab-extrabold")

+font("liberator")

+font("lobster")

+font("Philosopher", $fileName: "philosopher-regular")
// +font("philosopher-bold")
// +font("philosopher-bolditalic")
+font('PhilosopherItalic', $fileName: "philosopher-italic")

$bg_texture_width: 90vw
$bg_texture_height: ($bg_texture_width / 1.33)
$bg_texture_pos: $bg_texture_height / -2

html
	font-size: $defaultFontSize
body
	margin: 0
	@each $key,$value in $theme
		&.theme_#{$key}
			// TODO: need refactoring
			$texture: none
			$texture_size: auto
			$texture2: url('./pictures/texture/#{$key}_page_gradient_dark.svg') 50% 0 fixed no-repeat
			$texture2_size: 210% 400%
			@if ($key == 7 or $key == 5)
				$texture: url('./pictures/texture/#{$key}_page_texture.png') top center no-repeat
				$texture_size: auto
			background-color: $value
			background: $texture,$texture2, url('./pictures/texture/#{$key}_page_gradient_light.svg') center $bg_texture_pos no-repeat , url('./pictures/#{map-get($theme_image, $key)}') center center repeat
			background-size: $texture_size,$texture2_size, $bg_texture_width $bg_texture_height, auto
*
	box-sizing: border-box

body
	.theme_1
		text-shadow: 1px 2px 0 rgba(88, 23, 8, 0.2)
	.theme_2
		text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2)
	.theme_3
		text-shadow: 1px 2px 0 rgba(69, 79, 22, 0.2)
	.theme_4
		text-shadow: 1px 2px 0 rgba(255, 255, 255, 0.5)
	.theme_5
		text-shadow: 1px 2px 0 rgba(22, 52, 79, 0.1)
	.theme_6
		text-shadow: 1px 2px 0 rgba(255, 253, 241, 0.5)
	.theme_7
		text-shadow: 1px 2px 0 rgba(79, 22, 36, 0.15)
	.theme_8
		text-shadow: 1px 2px 0 rgba(0, 107, 138, 0.1)
