extends ./_html

block body
	+themes()
	+social()
		+logo()
	+mainMenu()
	+DHL('text', 'London, United Kingdom')
	+textDate()
	+DHL('stars')
	+tech()
	+DHL('text', 'This is awesome Decorative Horizontal Line')
	+getTickets()
	+DHL('to top')
	+footer()
