extends ./_html

block body
	.box
		+themes()
		+social()
			+logo()
		+mainMenu()
		+DHL('text', 'London, United Kingdom')
		+textDate()
		+DHL('stars')
		+tech()
		+slider()
		//+DHL('text', 'This is awesome Decorative Horizontal Line')
		+DHL('stars')
		.gridBox
			.gridCell
				+title('Location')
				+location
			.gridCell
				+title('Schedule')
				+schedule
			.gridCell
				+title('Sponsors')
				+sponsors
		+getTickets()
		+DHL('to top')
		+footer()
