mixin textDate()
    hgroup.textDate
        h1.textDate__title First steam web conference
        h2.textDate__subtitle
            span.textDate__subtitleFrom From
            |  23. Aug 2021
            span.textDate__subtitleTo  To
            |  25. Aug 2021
