// 240
// 320
// 480
// 768
// 1024
// 1140
// 1280
// 1500

$theme: ("orange": #f36d3c, "black":#262628, "green": #99b369, "white": #e6e6e6, "blue": #38a4e2, "beige": #e1dfc8, "pink": #de4358, "iceblue": #8df2f2)

$theme_image: ()
@each $key, $value in $theme
	$theme_image: map-merge($theme_image, ($key: 'theme/#{$key}.jpg'))
